<a href="https://colab.research.google.com/github/Dppzee0201/Dppzee0201/blob/main/Sleep_data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive

# Mount your Google Drive
drive.mount('/content/drive',force_remount=True)

# Now you can access files in your drive like this:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Sleep data Analysis.ipynb')

Mounted at /content/drive

In [ ]:
df.size

0

In [ ]:
df.describe()

,"{""nbformat"":4",nbformat_minor:0,"metadata:{""colab"":{""provenance"":[]","mount_file_id:""1kuDJfgEGvEjIkE5oBPXYMrkdXSY0jgR4""","authorship_tag:""ABX9TyOzjUkmUdgDTVtkx/M2Eysz""}","kernelspec:{""name"":""python3""","display_name:""Python 3""}","language_info:{""name"":""python""}}","cells:[{""cell_type"":""code""","source:[""import pandas as pd\n""",...,user_tz:-330.20,elapsed:26.4,"user:{""displayName"":""Dhammadeep salwe"".20","userId:""03371005873447475899""}}}.12",execution_count:null.11,outputs:[]}.12,"{""cell_type"":""markdown"".4","source:[""\n"".1",\n].1,"metadata:{""id"":""N_c9EKdr0xog""}}]}"
count,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns.size

1095

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Columns: 1095 entries, {"nbformat":4 to metadata:{"id":"N_c9EKdr0xog"}}]}
dtypes: object(1095)
memory usage: 124.0+ bytes

In [ ]:
df.isnull().sum()

{"nbformat":4                                        0
nbformat_minor:0                                     0
metadata:{"colab":{"provenance":[]                   0
mount_file_id:"1kuDJfgEGvEjIkE5oBPXYMrkdXSY0jgR4"    0
authorship_tag:"ABX9TyOzjUkmUdgDTVtkx/M2Eysz"}       0
                                                    ..
outputs:[]}.12                                       0
{"cell_type":"markdown".4                            0
source:["\n".1                                       0
\n].1                                                0
metadata:{"id":"N_c9EKdr0xog"}}]}                    0
Length: 1095, dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.drop(['User ID'],axis=1,inplace=True)

KeyError: "['User ID'] not found in axis"

In [ ]:
df.head()

In [ ]:
age_sleepQuality_corr=df[['Age','Sleep Quality']].corr()
age_sleepQuality_corr

In [ ]:
age_sleepQuality_corr['Age']

## **Age and Sleep Quality Analysis**

In [ ]:
plt.figure(figsize=(10 ,6))
sns.barplot(x='Age',y='Sleep Quality',data=df)
plt.title('Age vs Sleep Quality analysis')
plt.xlabel('Age')
plt.ylabel('Sleep Quality')
plt.show()

## Physical Activity vs Sleep Quality

In [ ]:
plt.figure(figsize=(6, 6))
sns.barplot(x='Gender', y='Sleep Quality', data=df)
plt.title('Sleep Quality between Males and Females')
plt.xlabel('Gender')
plt.ylabel('Sleep Quality')
plt.show()

From this we know that female have high sleep quality

## Physical activity in males and females

In [ ]:

custom_codes = {'low': 1, 'medium': 2, 'high': 3}

df['Physical Activity Level'] = df['Physical Activity Level'].map(custom_codes)

In [ ]:
plt.figure(figsize=(6, 6))
sns.barplot(x='Gender', y='Physical Activity Level', data=df)
plt.title('Physical Activity Level Between Males and Females')
plt.xlabel('Gender')
plt.ylabel('Physical Activity Level')
plt.show()

In [ ]:
df.head()

In [ ]:
plt.figure(figsize=(6, 6))
sns.barplot(x='Dietary Habits', y='Calories Burned', data=df)
plt.title(' Diet type vs calories burned ')
plt.xlabel('Diet')
plt.ylabel('calories burned')
plt.show()

In [ ]:
plt.figure(figsize = (12, 6))
sns.barplot(x = 'Calories Burned', y = 'Sleep Quality', data = df)
plt.show()